<section class="about" id="about">
	<div class="container">
		<div
			class="row">
			<!-- Video Section -->
			<div class=" col-md-6 col-12  d-flex justify-content-center align-items-center">
				<div class="video-wrapper w-100" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
					<iframe class="video-iframe border rounded" src="https://www.youtube.com/embed/nFU52JdVxc8?si=DpFJ_-g4gNlejq5p" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>


			<!-- Text Section -->
			<div class="col-md-6 col-12 align-items-center my-4 text-center text-md-start">
				<div class="about-content mb-4" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
					<h2 class="about-title ">À
						<span>propos</span>
					</h2>
					<h3 class="about-content">En reconversion professionnelle</h3>
					<p>J'ai bâti mon parcours professionnel en saisissant diverses opportunités grâce à mon adaptabilité et à mes solides compétences relationnelles. Aujourd'hui, je m'engage dans une reconversion vers le développement web, porté par ma détermination à contribuer à l'innovation et au changement culturel. Je suis certain de ma capacité à réussir en tant que développeur web, grâce à des compétences acquises au cours de mes expériences telles que la curiosité, la pensée logique et le travail d'équipe.</p>

					<a target="_blank" href={{asset("cv/mon-cv.png")}}>
						<p class="btn">
							<span>
								<i class='bx bx-download bx-fade-down'></i>
							</span>&nbsp; Télécharger mon CV
						</p>
					</a>

				</div>
			</div>
		</section>
