<section class="about" id="about">
	<div class="container">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-lg-4 col-md-12 ">
				<div class=" mb-4 " data-aos="fade-right">

					<iframe src="https://www.youtube.com/embed/nFU52JdVxc8?si=DpFJ_-g4gNlejq5p" frameborder="0"></iframe>
					{# <video src={{asset("https://youtu.be/nFU52JdVxc8")}} class="object-fit-lg-contain "  controls alt="ma vidéo de présentation"></video> #}

				</div>
			</div>
			<div class="col-lg-3">
				<div class=" mb-4"></div>
			</div>

			<div class="col-lg-5">
				<div class=" mb-4 about-content " data-aos="fade-left">
					<h2 class="about-title ">A
						<span>propos</span>
					</h2>
					<h3 class="about-content">En reconversion professionnelle</h3>
					<p>J'ai bâti mon parcours professionnel en saisissant diverses opportunités grâce
							                à mon adaptabilité et à mes solides compétences relationnelles. Aujourd'hui, je m'engage dans une reconversion vers le développement web, porté par ma détermination à contribuer à l'innovation et au changement culturel. Je suis certain de ma capacité à réussir en tant que développeur web, grâce à des compétences acquises au cours de mes expériences telles que la curiosité, la pensée logique et le travail d'équipe.</p>
					<a href={{asset("cv/mon-cv.png")}}>
						<p class="btn">
							<span>
								<i class='bx bx-download bx-lg bx-fade-down'></i>
							</span>&nbsp; &nbsp;Télécharger mon CV</p>
					</p>
				</a>
			</div>
		</div>
	</div>
</div></section>
