<section class="harskills slider" id="hardSkill">

	<h2 class="section-title mb-5">Mes
		<span>Hard skills</span>
	</h2>
	<div class="fluide-container ">
		<div class="slide-track hardskills">
			<i class='bx bxl-html5 slide js-scrollTo'></i>
			<i class='bx bxl-css3 slide'></i>
			<i class='bx bxl-javascript slide'></i>
			<i class='bx bxl-angular slide'></i>
			<i class='bx bxl-php slide'></i>
			<i class='bx bxl-wordpress slide'></i>
			<i class='bx bxl-github slide'></i>
			<i class='bx bxl-bootstrap slide'></i>
			<twig:ux:icon name="skill-icons:symfony" />
			
		</div> 

		<div class="slide-track hardskills ">
			<i class='bx bxl-html5 slide js-scrollTo'></i>
			<i class='bx bxl-css3 slide'></i>
			<i class='bx bxl-javascript slide'></i>
			<i class='bx bxl-angular slide'></i>
			<i class='bx bxl-php slide'></i>
			<i class='bx bxl-wordpress slide'></i>
			<i class='bx bxl-github slide'></i>
			<i class='bx bxl-bootstrap slide'></i>
			<twig:ux:icon name="skill-icons:symfony" />
		</div>
	</div>
</section>
