<section>
	<div class="container ">
		<div class="row justify-content-center">
			<div class="col-lg-5 d-flex align-items-center  ">
				<div class=" mb-4 hero-content">
					<h1>Hello je suis</h1>
					<h1>Nabil KADOURI</h1>
					<h3>je suis
						<span class="text-anim" id="typing-text"></span>

					</h3>
					<p>& je me lance dans le monde du web</p>

					<div class="social-media ">
						<a target="_blank" href="https://www.linkedin.com/in/nabil-kadouri/">
							<i class='bx bxl-linkedin-square bx-lg bx-burst-hover '></i>
						</a>
						<a target="_blank" href="https://github.com/NabilKADOURI">
							<i class='bx bxl-github bx-lg bx-burst-hover '></i>
						</a>
						<a target="_blank" href="#">
							<i class='bx bxl-discord bx-lg bx-burst-hover'></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-lg-2  "></div>

			<div class="col-lg-5  ">
				<div class=" mb-4 hero-img   ">
					<img src={{asset("images-cv/Photo/ma-photo.png")}} alt="ma photo de portrait">
				</div>
			</div>
		</div>
	</div>
</section>
