<footer class="bg-footer">
        <div class="fluide-container px-5">
            <div class="row pt-5">
                <div class="col-lg-12 ">
                    <img src={{asset("images-cv/logo-cv/logo-footer.png")}} alt="logo-site-cv">
                </div>

                <div class="col-lg-12 pl-5">
                    <p class="font-weight-bold text-color pl-5 ">07 72 31 32 38</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 pl-5 ">
                    <p class="text-color font-weight-bold pl-5 ">kadourinabil7@gmail.com</p>
                </div>

                <div class="col-lg-6 d-flex justify-content-end mb-4 social-media ">
                  
						<a target="_blank" href="https://www.linkedin.com/in/nabil-kadouri/">
							<i class='bx bxl-linkedin-square bx-lg bx-burst-hover '></i>
						</a>
						<a target="_blank" href="https://github.com/NabilKADOURI">
							<i class='bx bxl-github bx-lg bx-burst-hover '></i>
						</a>
					</div>
                <div class="col-lg-12 d-flex justify-content-end">
                    <p class="text-color font-weight-bold ">Merci d'avoir visité mon portfolio, à bientôt !</p>
                </div>
            </div>
        </div>
    </footer>